@model IEnumerable<GearUp.Models.Student>
@{
    ViewBag.Title = "LifePlan Edit";        
}

@* This is where the styling for this page is located. Look in Content folder for lifeplan-edit.css *@
<link href="~/Content/lifeplan-edit.css" rel="stylesheet" />

@* This is the container wrapped around our whole edit area *@
<div class="container">
    <br />
    @* Start of the Top Section (Search Bar and Advisor drop down) *@
    <div id="top-section" class="row">
        <div class="col-md-6">
            @using (@Html.BeginForm())
            {
                <b>Student Name: </b>
                @Html.TextBox("searchTerm", null, new { id = "txtStudentSearch" })
                <input class="btn btn-primary" type="submit" value="Search" />
            }﻿
        </div>
        <div class="col-md-6">
            <b>Advisor: </b>
            @Html.TextBox("searchTerms", null, new { id = "txtAdvisorSearch" })

        </div>
    </div>
    @* End of top section*@   
    <hr /> 
    <div class="row">

        @* Start of the Left Section (All of the input boxes, buttons, etc...) *@
        <div id="left-section" class="col-md-4">
            <div>
                
                @using (@Html.BeginForm("edit", "LifePlan", FormMethod.Post))
                {

                    @Html.Label("Academic Needs:") <br />
                    @Html.TextBox("academicNeeds");                    
                    <button type="submit">Enter</button><br /> 
                  <div id="buttons">
                      <button type="reset">Clear</button>
                  </div>               
                }                      

            </div>
         <div id="output">
            <div class="panel panel-default">
                <div class="panel-body" id="output-area">
                    @*Academic Needs Stuff Goes Here...*@

                   @foreach (var academic in (List<string>)ViewBag.Academic)
                   {
                    <ul><li>@academic</li></ul>
                   }
                                  
                </div>
            </div>
          </div>

            <div id="educational-goals">
                @using (@Html.BeginForm())
                {

                    @Html.Label("Educational Goals:") <br />
                    @Html.TextBox("educationalGoals")
                    <button type="submit">Enter</button><br />
                    <div id="buttons">
                        <button type="reset">Clear</button>
                    </div>
                }
            </div>

            <div id="output">
                <div class="panel panel-default">
                    <div class="panel-body" id="output-area">
                        @*Education Goals Stuff Goes Here...*@

                        @foreach (var education in (List<string>)ViewBag.SchoolGoals)
                        {
                            <ul><li>@education</li></ul>
                        }

                    </div>
                </div>
            </div>
            <div id="career-goals">
                @using (@Html.BeginForm())
                {

                    @Html.Label("Career Goals:") <br />
                    @Html.TextBox("careerGoals")
                    
                        
                            <select id="CategoryType" name="CategoryType">
                                <option value=""></option>
                                <option selected="selected" value="0">Animal Science</option>
                                <option value="1">Auto/Aircraft Mechanics</option>
                                <option value="2">Business</option>
                                <option value="3">Communications</option>
                                <option value="4">Computers</option>
                                <option value="5">Construction</option>
                                <option value="6">Cosmetology</option>
                                <option value="7">Criminal Justice</option>
                                <option value="8">Culinary</option>
                                <option value="9">Education</option>
                                <option value="10">Engineering</option>
                                <option value="11">Entertainment</option>
                                <option value="12">Entrepreneurship</option>
                                <option value="13">Humanities</option>
                                <option value="14">Interior Design</option>
                                <option value="15">Medical/Dental</option>
                                <option value="16">Military</option>
                                <option value="17">Social Work/Psychology</option>
                                <option value="18">Visual/Performing Arts</option>
                                <option value="19">Other</option>
                            </select>
                        
                           
                        
                        <div id="buttons">
                            <button type="submit">Enter</button><br />
                            <div id="clear">
                                <button type="reset">Clear</button>
                            </div>
                        </div>
                            

                }
            </div>

            <div id="career-output">
                <div class="panel panel-default">
                    <div class="panel-body" id="output-area">
                        @*Career Goals Stuff Goes Here...*@

                        @foreach (var careerGoal in (List<string>)ViewBag.Career)
                        {
                            <ul><li>@careerGoal</li></ul>
                        }

                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default">Cancel</button>
                <butoon class="btn btn-primary">Submit</butoon>
            </div>
        </div>
        @* End of left section *@

        @* Start of the right section (Where the boxes to display info are located) *@
        <div id="right-section" class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Academic Needs
                </div>
                <div class="panel-body">
                    @*academic needs Stuff Goes Here...*@
                    @foreach (var need in (List<string>)ViewBag.Needs)
                    {
                        <ul><li>@need</li></ul>
                    }
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Educational Goals
                </div>
                <div class="panel-body">
                    @*Educational Goals Stuff Goes Here...*@
                    @foreach (var education in (List<string>)ViewBag.Education)
                    {
                        <ul><li>@education</li></ul>
                    }
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Career Goals
                </div>
                <div class="panel-body">
                    @*Career Goals Stuff Goes Here...*@
                    @if (((List<string>)ViewBag.CareerName) != null && ((List<string>)ViewBag.CareerCategory) != null)
                    {
                        List<string> name = (List<string>)ViewBag.CareerName;
                        List<string> category = (List<string>)ViewBag.CareerCategory;
                        List<string> output = new List<string>();

                        for (int i = 0; i < name.Count; i++)
                        {
                            output.Add(name.ElementAt(i) + " / " + category.ElementAt(i));
                        }

                        foreach (var career in output)
                        {
                            <ul><li>@career</li></ul>
                        }
                    }
                </div>
            </div>

            <div>
                <form action="http://localhost:1662/LifePlan/Print">
                    <input class="btn btn-primary" type="submit" value="Print" />
                </form>
            </div>             
        </div>
        @* End of right section *@

    </div>
</div>

@*Script used for dropdown text boxes, should probably be moved to a
    global use location*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtStudentSearch").autocomplete({
            source: '@Url.Action("GetStudents")',
            minLength: 1
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtAdvisorSearch").autocomplete({
            source: '@Url.Action("GetAdvisors")',
            minLength: 1
        });
    });
</script>

@* End of container *@
