@model IEnumerable<GearUp.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aspNetUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hispanic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasSiblings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collegeGreenLight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lifePlaneStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.careerGoal1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.careerGoal2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parentsPreferredLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.undocumented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compassStudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.schoolCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aspNetUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hispanic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasSiblings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collegeGreenLight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lifePlaneStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.careerGoal1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.careerGoal2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mathLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parentsPreferredLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.undocumented)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compassStudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.schoolCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentID })
        </td>
    </tr>
}

</table>
