@model IEnumerable<GearUp.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Service Date")
        </th>
        <th>
            @Html.DisplayName("Created by")
        </th>
        <th>
            @Html.DisplayName("School")
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Method")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.serviceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schoolID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.serviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceMethod.serviceMethodName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.contactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contactID })
        </td>
    </tr>
}

</table>
